USE [Store_IBoard]
GO
/****** Object:  Table [dbo].[BasColor]    Script Date: 3/25/2024 6:19:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BasColor](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[PersianColorName] [nvarchar](220) NULL,
	[EnglishColorName] [nvarchar](220) NULL,
	[HexCode] [nvarchar](8) NULL,
	[ColorCode] [int] NULL,
 CONSTRAINT [PK__BasColor__3214EC07A064CB55] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BasColor] ON 

INSERT [dbo].[BasColor] ([Id], [PersianColorName], [EnglishColorName], [HexCode], [ColorCode]) VALUES (283, N'جگری', N'IndianRed', N'#cd5c5c', NULL)
INSERT [dbo].[BasColor] ([Id], [PersianColorName], [EnglishColorName], [HexCode], [ColorCode]) VALUES (284, N'بژ تیره', N'LightCoral', N'#f08080', NULL)
INSERT [dbo].[BasColor] ([Id], [PersianColorName], [EnglishColorName], [HexCode], [ColorCode]) VALUES (285, N'حناییِ روشن', N'Salmon', N'#fa8072', NULL)
GO
SET IDENTITY_INSERT [dbo].[BasColor] OFF
GO
