USE [Store_IBoard]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 4/2/2024 1:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Key] [bigint] IDENTITY(1,1) NOT NULL,
	[Id] [bigint] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IsDomestic] [bit] NOT NULL,
	[IsForeign] [bit] NOT NULL,
	[Terminals] [nvarchar](max) NULL,
	[PersianTitle] [nvarchar](max) NULL,
	[EnglishTitle] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[RootRef] [bigint] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roots]    Script Date: 4/2/2024 1:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roots](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](max) NULL,
	[ProvinceID] [int] NOT NULL,
 CONSTRAINT [PK_Roots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Key], [Id], [Title], [IsDomestic], [IsForeign], [Terminals], [PersianTitle], [EnglishTitle], [Code], [RootRef]) VALUES (1, 26340000, N'اهر', 1, 0, NULL, N'اهر', N'Ahar', N'ahar', 1)
INSERT [dbo].[Cities] ([Key], [Id], [Title], [IsDomestic], [IsForeign], [Terminals], [PersianTitle], [EnglishTitle], [Code], [RootRef]) VALUES (2, 26310000, N'تبریز', 1, 1, NULL, N'تبریز', N'Tabriz', N'tabriz', 1)
INSERT [dbo].[Cities] ([Key], [Id], [Title], [IsDomestic], [IsForeign], [Terminals], [PersianTitle], [EnglishTitle], [Code], [RootRef]) VALUES (3, 26311005, N'تبریز پایانه شمالغرب میدان آذربایجان', 1, 0, NULL, N'تبریز پایانه شمالغرب میدان آذربایجان', N'', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[Roots] ON 

INSERT [dbo].[Roots] ([Id], [ProvinceName], [ProvinceID]) VALUES (1, N'استان آذربایجان شرقی', 0)
INSERT [dbo].[Roots] ([Id], [ProvinceName], [ProvinceID]) VALUES (2, N'استان آذربایجان غربی', 0)
INSERT [dbo].[Roots] ([Id], [ProvinceName], [ProvinceID]) VALUES (3, N'استان اردبیل', 0)
SET IDENTITY_INSERT [dbo].[Roots] OFF
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK__RootRef__City__38996AB6] FOREIGN KEY([RootRef])
REFERENCES [dbo].[Roots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK__RootRef__City__38996AB6]
GO
