USE [docraja1_HamrahAvalDb]
GO
/****** Object:  Table [docraja1_AliMoosaei].[Cities]    Script Date: 4/19/2024 9:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docraja1_AliMoosaei].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityType] [int] NOT NULL,
	[ProvinceRef] [int] NOT NULL,
	[TownshipRef] [int] NOT NULL,
	[PartTownshipRef] [int] NOT NULL,
	[AmarCode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [docraja1_AliMoosaei].[Provinces]    Script Date: 4/19/2024 9:45:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [docraja1_AliMoosaei].[Provinces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](350) NULL,
	[AmarCode] [nvarchar](50) NULL,
 CONSTRAINT [PK__Province__3214EC07270413A7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [docraja1_AliMoosaei].[Cities] ON 

INSERT [docraja1_AliMoosaei].[Cities] ([Id], [CityType], [ProvinceRef], [TownshipRef], [PartTownshipRef], [AmarCode], [Name]) VALUES (2, 0, 7, 185, 1, N'1803062308', N'آب پخش')
INSERT [docraja1_AliMoosaei].[Cities] ([Id], [CityType], [ProvinceRef], [TownshipRef], [PartTownshipRef], [AmarCode], [Name]) VALUES (3, 0, 7, 124, 674, N'1802022816', N'آباد')
INSERT [docraja1_AliMoosaei].[Cities] ([Id], [CityType], [ProvinceRef], [TownshipRef], [PartTownshipRef], [AmarCode], [Name]) VALUES (4, 0, 13, 1, 757, N'601021270', N'آبادان')
GO
SET IDENTITY_INSERT [docraja1_AliMoosaei].[Cities] OFF
GO
SET IDENTITY_INSERT [docraja1_AliMoosaei].[Provinces] ON 

INSERT [docraja1_AliMoosaei].[Provinces] ([Id], [Name], [AmarCode]) VALUES (1, N'آذربایجان شرقی', N'3')
INSERT [docraja1_AliMoosaei].[Provinces] ([Id], [Name], [AmarCode]) VALUES (2, N'آذربایجان غربی', N'4')
INSERT [docraja1_AliMoosaei].[Provinces] ([Id], [Name], [AmarCode]) VALUES (3, N'اردبیل', N'24')
SET IDENTITY_INSERT [docraja1_AliMoosaei].[Provinces] OFF
GO
